body {
	background-color: white;
	font-size: 18px;
}

.fa-desktop {
	animation: icon-spin infinite 5s linear;
}

@keyframes icon-spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.navbar-logo {
	color: #defff2;
	justify-self: start;
	margin-left: 25px;
	cursor: pointer;
}

.fa-desktop {
	color: #defff2;
	margin-left: 1rem;
	font-size: 1.6rem;
}
